@font-face {
  font-family: norse-bold;
  src: url(../assets/fonts/Norse-Bold.otf)
}

:root {
  font-size: 18px;
  --header-background-color: hsla(0, 100%, 0%, 0.6);
  --input-border-color: hsl(220, 13%, 91%);
  --input-focus-border: hsl(231,66%,52%);
  --main-white: hsl(0, 100%, 100%);
  --off-white: hsl(210,19%,98%);
  --submit-section-green: hsl(92, 20%, 35%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

main {
  display: flex;
  min-height: 100vh;
}

.hero {
  background-image: url("../assets/images/halie-west-25xggax4bSA-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  min-width: 40%
}

.banner {
  align-items: center;
  background-color: var(--header-background-color);
  color: var(--main-white);
  display: flex;
  justify-content: center;
  padding: 8px;
}

.logo {
  width: 5rem;
  height: auto;
}

h1 {
  font-family: norse-bold;
  font-size: 5rem;
  margin: 0;
}

.form-container {
  background-color: var(--off-white);
}

.cta-text {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 72px 200px 36px 36px;
}

.form-inputs {
  background-color: var(--main-white);
  box-shadow: 3px 3px 6px 0px hsla(0, 0%, 50%, 0.5);
  padding-left: 36px;
}

.form-inputs h2 {
  font-size: 1.5rem;
  padding-top: 18px;
}

.form-controls {
  display: flex;
  flex-flow: row wrap;
  height: 240px;
}

.form-controls label {
  letter-spacing: 2px;
  font-size: 0.75rem;
  text-transform: uppercase;
}

input:focus {
  border: 1px solid var(--input-focus-border);
  box-shadow: 0px 1px 3px 0px var(--input-border-color);
}

input {
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  height: 32px;
  width: 300px;
}

input:focus {
  outline: 1px solid var(--input-focus-border);
}

.form-item {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.form-item {
  margin-right: 64px;
}

form li {
  list-style: none;
}

.error {
  border-color: red;
}

.error:focus {
  border-color: red;
  outline: none;
}

.error-msg {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: red;
}

.submit-form {
  margin-left: 36px;
  padding-top: 32px;
}

button {
  background-color: var(--submit-section-green);
  border: 2px solid transparent;
  border-radius: 10px;
  color: var(--main-white);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75em 3em;
}

button:hover {
  background: transparent;
  border: 2px solid var(--submit-section-green);
  color: var(--submit-section-green);
  cursor: pointer;
}

.submit-form a {
  color: var(--submit-section-green);
  font-weight: bold;
  text-decoration: none;
}